# Git ignore for Cobol

# Ignore any build, backup, sql, tmp  and debug directories

build/
backup/
tmp/
sql/
debug/

# Ignore binaries

*.so
*.cgi

# Ignore project files etc.

*.komodoproject
*.komodo

# Igonore some temporary files

*.cob
*.tmp

