# Git ignore for Cobol

# Ignore any build, backup and tmp directories

build/
backup/
tmp/

# Ignore binaries

*.so
*.cgi

# Ignore project files etc.

*.komodoproject
*.komodo

# Igonore some temporary files

*.cob
*.tmp

